body {
  height: 100%;
  width: 100%;
  text-align: center;
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  position: absolute;
  top: 15px;
  right: 10px;
  height: 5vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.gameboard {
  margin: 25px 25px 0;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.grid {
  position: relative;
  left: -135px;
  display: flex;
  height: 300px;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.gridButton {
  height: 30px;
  width: 30px;
}

.emptyGridSquare {
  height: 28px;
  width: 28px;
  background-color: lightgray;
  border-style: solid;
  border-color: #282c34;
  border-width: 1px;
  color: black;
  line-height: 28px;
  font-size: .6em;
}

.occupiedGridSquare {
  height: 28px;
  width: 28px;
  background-color: green;
  border-style: solid;
  border-color: #282c34;
  border-width: 1px;
  color: black;
  line-height: 28px;
  font-size: .6em;
}

.ship {
  margin: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

th, td {
  padding: 10px;
  border-style: solid;
  border-color: white;
  border-width: 1px;
}

table {
  border-collapse: collapse;
}